@import 'colors', 'fonts';

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $main;
    color: $secondary;
}

.drag-area {
    -webkit-app-region: drag;

    .no-drag {
        -webkit-app-region: no-drag;
    }
}