@use 'sass:color';
@use 'colors';
@use 'fonts';

body {
    margin: 0;
}

#top-menu {
    display: flex;
    padding: 0;
    width: calc(100dvw - 10px);
    height: 2rem;
    margin: 0;
    color: rgba(colors.$secondary, 0.5);
    padding: 0 0 0 10px;

    align-items: center;
    justify-content: space-between;

    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
        
        h1 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 200;
        }
    }

    #menu-options {
        display: flex;

        button {
            background-color: transparent;
            width: 2rem;
            height: 2rem;
            color: inherit;
            padding: 0;
            margin: 0;
            border: none;
    
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            transition: background-color 105ms, color 55ms;
            
            svg {
                width: 1rem;
                height: 1rem;
            }
    
            &:hover {
                background-color: color.adjust(colors.$main, $lightness: 5%);
                color: rgba(colors.$secondary, 1);
            }

            &.active {
                color: colors.$contrast !important
            }
        }

        #close-button:hover {
            background-color: #ff0000b3;
        }
    }
}

#container {
    display: grid;
    grid-template-areas:
        "nav content"
        "control control";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: calc(100dvh - 2rem);
    background-color: colors.$main;
    margin: 0;
}

#nav {
    grid-area: nav;
    position: relative;
    width: 250px;
    height: calc(100vh - 2rem - 100px);  // calculated from #top-menu height and #control height
}

#navigation {
    width: 100%;
    height: 100%;
}

#navigation {
    width: 100%;
    height: 100%;
}

#content {
    grid-area: content;
    position: relative;
    overflow: auto;
    background-color: color.adjust(colors.$main, $lightness: 5%);
    border-top-left-radius: 10px;
    height: calc(100vh - 2rem - 100px);  // calculated from #top-menu height and #control height
}

#control {
    grid-area: control;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: color.adjust(colors.$main, $lightness: -6%);
}

// Floating Input Popup
.floating-input-container {
    position: absolute;
    z-index: 1000;
    display: flex;
    width: 210px;
    background: colors.$main;
    border: 1px solid colors.$contrast;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    input {
        font-size: 1rem;
        color: colors.$secondary;
        padding: 4px 8px;
        border: none;
        outline: none;
        background: none;
        flex: 1;
    }

    button {
        font-size: 1rem;
        color: colors.$contrast;
        padding: 4px 8px;
        border: none;
        outline: none;
        background: none;
        flex: 1;
        cursor: pointer;
    }
}

// Floating Input Popup
.floating-input-container {
    position: absolute;
    z-index: 1000;
    display: flex;
    background: $main;
    border: 1px solid $contrast;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    input {
        font-size: 1rem;
        color: $secondary;
        padding: 4px 8px;
        border: none;
        outline: none;
        background: none;
        flex: 1;
    }

    button {
        font-size: 1rem;
        color: $contrast;
        padding: 4px 8px;
        border: none;
        outline: none;
        background: none;
        flex: 1;
        cursor: pointer;
    }
}

.vertical-divider {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    transform: translate(50%, 0);
    background: transparent;
    cursor: ew-resize;
    z-index: 10;
}

.horizontal-divider {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 8px;
    transform: translate(0, -50%);
    background: transparent;
    cursor: ns-resize;
    z-index: 10;
}

.corner-divider {
    position: absolute;
    top: calc(100% - 100px);
    left: 250px;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background: transparent;
    cursor: nesw-resize;
    z-index: 20;
}